body {
    background-color: #eee;
}

a {
    color: hotpink;
    background-color: #f00;
    border: solid 1px #d00;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
}

a:link {
    color:pink;
    text-decoration: none;
}

a:visited{
    color: gray;
    text-decoration: underline;
}

a:hover{
    color: gray;
    text-decoration: underline;
}

a:active{
    color: black;
}

ul {
    list-style-type: none;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding-left: 0px;
}

li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #4ACF50;
    color: white;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}