body {
    background-color: #eee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

li {
    float: left;
}

li a{
    display: block;
    color:  white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover{
    background-color: rgba(184, 184, 184, 0.1);
}

.active {
    background-color: #4CAF50;
}

.content {
    margin-top: 49px;
}