.tw-followCard-text {
    display: block;
  }
  
  .tw-followCard-button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
  }
  
  .tw-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
  }
  
  .tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
  }
  
  .tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
  }
  
  .tw-followCard-stopFollow {
    display: none;
  }